.cartItem {
  margin-bottom: 0.5rem;
  margin-top: -1rem;
  border-bottom: 2px solid white;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.cartItem__image {
  width: 20%;
}

.cartItem__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}

.numberInputWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cartItem__imageName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.cartItem__delete {
  transform: scale(0);
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
  margin-top: 0.3rem;
}

.cartItem:hover .cartItem__delete {
  transform: scale(1);
}

.updateButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartItem__imageName h3 {
  margin-bottom: 2rem;
}
