.cartItem {
  margin-bottom: 1rem;
  margin-top: -1rem;
  border-bottom: 2px solid white;
  padding: 1rem;
  position: relative;
}

.cartItem__image {
  width: 20%;
}

.cartITem__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem__imageName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.cartItem__delete {
  transform: scale(0);
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

.cartItem:hover .cartItem__delete {
  transform: scale(1);
}
