/* button design */
.button:link,
.button:visited,
.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.9rem;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: white;
}

.button:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 0.7rem 1.5rem rgba(0, 0, 0, 0.5);
}

.button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0px 0.35rem 0.75rem rgba(0, 0, 0, 0.5);
}
