.shopping {
  display: flex;
  flex-direction: row;
  height: 87.7vh;
  overflow: hidden;
}

.cartOrAddProduct {
  background-color: #f0f0f0;
  height: 100%;
  border-right: 1px solid darkgray;
  padding-top: 3rem;
}

.shopping__main {
  width: 100vw;
  height: 100%;
}
