.order {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgb(103, 32, 180);
  padding: 0.5rem;
}

.order__header-2,
.order__header-3 {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.order__header-1,
.order__header-2 {
  margin-top: 1rem;
}
