.storeImage {
  width: 50%;
  height: 100%;
}

.about {
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (max-width: 75em) {
  .about p {
    padding: 0 2rem;
  }

  .storeImage {
    width: 20%;
    height: 100%;
  }
}
