.Main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.Main > main,
.Main > aside,
.Main > section {
  grid-column: span 1;
}

.Main > main,
.Main > section,
.Main > aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For screens that are 1200px wide or less */
@media screen and (max-width: 75em) {
  .Main {
    grid-template-columns: 1fr;
  }
  .Main > main {
    height: min-content;
    width: 70%;
    margin: 2rem auto;
  }
}
