.navbar {
  display: flex;
  border-bottom: 2px solid rgb(103, 32, 180);
  justify-content: space-between;
}

.navbar__logo img {
  width: 25rem;
  margin: 1.5rem 0 0 1rem;
}

.navbar__contact {
  color: rgb(103, 32, 180);
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: 1.2rem;
}

.user__info {
  color: rgb(103, 32, 180);
  font-size: 1.2rem;
}
