.login__header h1 {
  padding: 3rem;
}

.login__form {
  width: 80%;
  margin: 0 auto;
}

.login__form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.login_form_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}
