.Main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Main > main,
.Main > aside,
.Main > section {
  grid-column: span 1;
}

.Main > main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

/* For screens that are 1600px wide or less */
@media screen and (max-width: 1600px) {
  .Main > main {
    height: 80vh;
  }
}

/* For screens that are 992px wide or less */
@media screen and (max-width: 992px) {
  .Main {
    grid-template-columns: 1fr; /* All elements will stack vertically */
  }
  .Main > main {
    height: 100vh;
  }
}
