.navbar {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  background: linear-gradient(
    90deg,
    rgba(5, 5, 11, 1) 0%,
    rgb(144, 144, 175) 49%,
    rgba(5, 5, 11, 1) 90%
  );
  justify-content: space-between;
}

.navbar__logo img {
  width: 12rem;
  margin: 1rem 0 1rem 0;
}

.navbar__contact {
  color: rgb(103, 79, 167);
  margin: 2rem 1rem 0 0;
  font-size: 2rem;
}

.user__info {
  color: rgb(103, 79, 167);
  width: 15rem;
  font-size: 2rem;
  margin-top: 1rem;
}
