.productCards {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-left: 3rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  z-index: 1;
}

.productsNavbar {
  position: sticky;
  top: 0;
  z-index: 99;
}

.cartIcon {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem 0 0;
}
